/*
 * General stylesheet for the App_body layout
 */
body {
    height: 100%;
    width: 100%;
    font-family: helvetica;
    font-size: 12px;
    overflow: hidden;
}

/*h1 {
    text-align: center;
}*/

#instructions {
    /*display: block;
    z-index: 99999;
    position: absolute;
    left:0;
    top: 50;
    height: 100%;
    width:300px;
    background-color: #eee;
    padding: 15px;
    border: 1px solid #ccc;*/
}

#cy {
    /*border: 1px solid #ccc;*/
    width: 100%;
    height: 100%;
    position: absolute;
    /*left: 0;
    top: 0;*/
    /*z-index: 9999;*/
}

#buttons {
  padding-left: 15px;
}

#instructionsDrawer {
  margin-top: 48.75px;
}

.drawer-controls {
  margin-top: -3%;
}

.drawer-control {
  margin-bottom: 5px;
}

.form-container {
  padding: 10px;
}

#importer {
  max-height: 400px;
  overflow: auto;
}

.importGraphEntry {
  border: 1px solid grey;
  /*font-size: 16px;*/
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}
