

.links line {
    stroke: #aaa;
    stroke-opacity:.5;
  }

  .nodes circle {
    pointer-events: all;
    stroke: none;
    stroke-width: 40px;
  }

  .active {
    fill: yellow;
  }

.dataLabels {
  font-family: "Open Sans";
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

div.tooltip {
  font-family: "Open Sans";
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.totalContainer{
     position: relative;
    padding-top: 10px;
    padding-left: 18px;
}

.mainContainer{
     position: absolute;

    float: left;
}

.graphContainer{
    position: absolute;
    float: left;
    z-index: -1;
}

.container1{
    position: absolute;
    left: 0px;
}



.ui-widget{
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Open Sans";
    max-width: 300px;
    margin: auto;

    border-style: solid;
    border-color: black;
      border-width: 1px 0.2px 1px 0.2px;
}

#tabs{
    font-family: "Open Sans";
    max-width: 300px;
    margin: auto;
    border-style: solid;
    border-color: black;
     border-width: 1px 0.2px 1px 0.2px;
     /*overflow: auto;*/
}

#tabs-1 {
  overflow: auto;
}

#tabs-2 {
  overflow: auto;
}

.labelAuthors{
         font-family: "Open Sans";
    text-align: center;
    font-weight: bold;
}

.mainContainer{
    width: 300px;
    height: auto;
    border-style: solid;
    border-color: black;
    border-width: 1px 1px 1px 1px;
    background-color: #e8e8e8;
    padding-bottom: 20px;

}

.yearRange{
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 40px;

}

.filterButton{
    margin-left: 90px;
    margin-top: 20px;
    background-color: #067; /* CMUred */

    border: none;
    color: white;
    padding: 8px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.yearFilter{

     font-weight: bold;
     margin-top: 20px;
     margin-left: 110px;
     font-family: "Open Sans";
}

.highlighted{
    stroke: orange;
}

/*
For info box
*/

.node-metadata {
  margin-bottom: 2px;
}

.title {
  font-weight: bold;
  font-size: 0.75em;
  margin-bottom: 1px;
}

.meta {
  font-style: italic;
  font-size: 0.5em;
}

.meta a {
  text-decoration: underline;
}
